[submodule "/Users/Macnube/.emacs.d/site-lisp/clojure-semantic/"]
	path = site-lisp/clojure-semantic
	url = https://github.com/kototama/clojure-semantic.git
[submodule "/Users/Macnube/.emacs.d/site-lisp/labburn-theme/"]
	path = site-lisp/labburn-theme
	url = https://github.com/ksjogo/labburn-theme.git
[submodule "site-lisp/sublimity"]
	path = site-lisp/sublimity
	url = https://github.com/zk-phi/sublimity.git
[submodule "site-lisp/golden-ratio"]
	path = site-lisp/golden-ratio
	url = https://github.com/cmccloud/golden-ratio.el.git
[submodule "site-lisp/bookmark-plus"]
	path = site-lisp/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus.git
[submodule "site-lisp/helm-xref"]
	path = site-lisp/helm-xref
	url = https://github.com/cmccloud/helm-xref.git
[submodule "site-lisp/dimmer"]
	path = site-lisp/dimmer
	url = https://github.com/cmccloud/dimmer.el.git
[submodule "site-lisp/helm-project"]
	path = site-lisp/helm-project
	url = ./site-lisp/helm-project/
